.card {
  cursor: pointer;
}

.close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0;
  top: 0;
}

.color-up {
  color: #437d22;
}

.color-down {
  color: #df3522;
}

@media (max-width: 768px) {
  ngb-alert {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  ngb-alert {
    font-size: 0.7rem;
  }
}
