<nav class="navbar navbar-expand-md navbar-dark sticky-top">
  <a class="navbar-brand text-white" routerLink="/">Stock Search</a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li
        *ngFor="let item of items"
        class="nav-item px-2"
        [class.selected]="
          item.link === (location.path() === '' ? '/' : location.path())
        "
        (click)="isMenuCollapsed = true"
      >
        <a class="nav-link ml-auto" [routerLink]="item.link">
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>
