<div class="container pt-4">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row" style="font-size: 0.8rem">
        <div class="col-6 d-flex justify-content-center">
          <table>
            <tbody>
              <tr>
                <td>High Price:</td>
                <td>{{ latest.high }}</td>
              </tr>
              <tr>
                <td>Low Price:</td>
                <td>{{ latest.low }}</td>
              </tr>
              <tr>
                <td>Open Price:</td>
                <td>{{ latest.open }}</td>
              </tr>
              <tr>
                <td>Prev. Price:</td>
                <td>{{ latest.prevClose }}</td>
              </tr>
              <tr>
                <td>Volume:</td>
                <td>{{ latest.volume }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="isOpen" class="col-6 d-flex justify-content-center">
          <table>
            <tbody>
              <tr>
                <td>Mid Price:</td>
                <td>{{ latest.mid ? latest.mid : '-' }}</td>
              </tr>
              <tr>
                <td>Ask Price:</td>
                <td>{{ latest.askPrice }}</td>
              </tr>
              <tr>
                <td>Ask Size:</td>
                <td>{{ latest.askSize }}</td>
              </tr>
              <tr>
                <td>Bid Price:</td>
                <td>{{ latest.bidPrice }}</td>
              </tr>
              <tr>
                <td>Bid Size:</td>
                <td>{{ latest.bidSize }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col" style="font-size: 0.9rem">
          <p class="text-center font-weight-bold" style="font-size: 1.2rem">
            Company's Description
          </p>
          <p>Start Date: {{ meta.startDate | date: 'yyyy-MM-dd' }}</p>
          <p>{{ meta.description }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <highcharts-chart
        [Highcharts]="Highcharts"
        constructorType="stockChart"
        [options]="chartOptions"
        style="width: 100%; height: auto; display: block"
        [(update)]="shouldUpdate"
      ></highcharts-chart>
    </div>
  </div>
</div>
